@page "/not-found"
@layout MainLayout
@inject NavigationManager Navigation

<div class="nf-page">

    <div class="nf-box">

        <div class="nf-icon">?</div>

        <h2 class="nf-title">Looking for something?</h2>

        <p class="nf-msg">
            We're sorry. The page you entered is not a
            functioning page on our site.
        </p>

        <div class="nf-link" @onclick='() => Navigation.NavigateTo("/")'>
            &#9658; Click here to go back to the Home page
        </div>

    </div>

</div>