@page "/admin/categories/edit/{id}"
@layout AdminLayout

@inject CategoryService CategoryService
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Edit Category</h3>

@if (model == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">

            <div class="mb-3">
                <label>Category Name</label>
                <input class="form-control" @bind="model.Name" />
            </div>

            <div class="mb-3">
                <label>Display Order</label>
                <input type="number" class="form-control" @bind="model.DisplayOrder" />
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" @bind="model.Published" />
                <label class="form-check-label">Published</label>
            </div>

            <!-- IMAGE -->
            <div class="mb-3">

                <label>Category Image</label>

                <InputFile OnChange="UploadImage" />

                @if (!string.IsNullOrEmpty(model.ImageUrl))
                {
                    <div class="mt-2">
                        <img src="https://localhost:5001/@model.ImageUrl"
                             width="120" />
                    </div>
                }

            </div>

            <button class="btn btn-success" @onclick="Update">
                Update
            </button>

        </div>
    </div>
}

@code {

    [Parameter] public string id { get; set; }

    private UpdateCategoryDto model;

    protected override async Task OnInitializedAsync()
    {
        var data = await CategoryService.GetById(id);

        model = new UpdateCategoryDto
        {
            Id = data.Id,
            Name = data.Name,
            DisplayOrder = data.DisplayOrder,
            Published = data.Published,
            ImageUrl = data.ImageUrl
        };
    }

    async Task UploadImage(InputFileChangeEventArgs e)
    {
        var file = e.File;

        var content = new MultipartFormDataContent();

        var stream = file.OpenReadStream(10 * 1024 * 1024);

        var fileContent = new StreamContent(stream);

        fileContent.Headers.ContentType =
            new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

        content.Add(fileContent, "File", file.Name);

        var response = await Http.PostAsync(
            "api/admin/categoryimage/upload",
            content);

        var result = await response.Content.ReadFromJsonAsync<ImageResponse>();

        model.ImageUrl = result.imageUrl;
    }

    async Task Update()
    {
        await CategoryService.Update(model);

        Navigation.NavigateTo("/admin/categories");
    }

    class ImageResponse
    {
        public string imageUrl { get; set; }
    }

}