@page "/admin/dashboard"
@layout AdminLayout

<div class="admin-page-header">
    <h3>Dashboard</h3>
</div>

<div class="dashboard-cards">

    <div class="dashboard-card">
        <h3>95</h3>
        <p>Total Orders</p>
    </div>

    <div class="dashboard-card">
        <h3>1401</h3>
        <p>Total Customers</p>
    </div>

    <div class="dashboard-card">
        <h3>24</h3>
        <p>Low Stock Products</p>
    </div>

    <div class="dashboard-card">
        <h3>₹ 4,25,000</h3>
        <p>Total Revenue</p>
    </div>

</div>
