<footer class="custom-footer pt-5">
    <div class="container">
        <div class="row g-4">

            <!-- CONTACT -->
            <div class="col-12 col-sm-6 col-lg-3">
                <h4>CONTACT</h4>
                <p>📞 +91-9712979034</p>
                <p>✉️ info@yourwebsite.com</p>
                <p>📍 1st Floor, Your Street,<br>Ahmedabad - 380009 (INDIA)</p>
                <div class="d-flex flex-wrap gap-2 mt-3 payment-icons">
                    <img src="https://img.icons8.com/color/48/visa.png" alt="Visa" />
                    <img src="https://img.icons8.com/color/48/mastercard.png" alt="Mastercard" />
                    <img src="https://img.icons8.com/color/48/amex.png" alt="Amex" />
                    <img src="https://img.icons8.com/color/48/rupay.png" alt="RuPay" />
                </div>
            </div>

            <!-- INFORMATION -->
            <div class="col-12 col-sm-6 col-lg-3 footer-column ">
                <h4>INFORMATION</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shipping &amp; Returns</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- MY ACCOUNT -->
            <div class="col-12 col-sm-6 col-lg-3 footer-column ">
                <h4>MY ACCOUNT</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Shopping Cart</a></li>
                    <li><a href="#">Wishlist</a></li>
                </ul>
            </div>

            <!-- CUSTOMER SERVICE -->
            <div class="col-12 col-sm-6 col-lg-3 footer-column ">
                <h4>CUSTOMER SERVICE</h4>
                <ul>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>

        <hr class="footer-divider mt-5">
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom py-1">
        <div class="container text-center">
            <p class="mb-0">© 2026 Your Website. All rights reserved.</p>
        </div>
    </div>
</footer>
