<footer class="custom-footer">
    <div class="footer-container">

        <!-- CONTACT -->
        <div class="footer-column">
            <h4>CONTACT</h4>
            <p>📞 +91-9712979034</p>
            <p>✉️ info@yourwebsite.com</p>
            <p>📍 1st Floor, Your Street,<br> Ahmedabad - 380009 (INDIA)</p>

            <div class="payment-icons">
                <img src="https://img.icons8.com/color/48/visa.png" />
                <img src="https://img.icons8.com/color/48/mastercard.png" />
                <img src="https://img.icons8.com/color/48/amex.png" />
                <img src="https://img.icons8.com/color/48/rupay.png" />
            </div>
        </div>

        <!-- INFORMATION -->
        <div class="footer-column">
            <h4>INFORMATION</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <!-- ACCOUNT -->
        <div class="footer-column">
            <h4>MY ACCOUNT</h4>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Wishlist</a></li>
            </ul>
        </div>

        <!-- CUSTOMER -->
        <div class="footer-column">
            <h4>CUSTOMER SERVICE</h4>
            <ul>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Your Website. All rights reserved.</p>
    </div>
</footer>