@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager Nav
@using ECommerceUI.Models.Catalog
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS
@using ECommerceUI.Layout
@inject NavigationManager Navigation

<div class="layout-container">

    <!-- TOP NAVBAR -->
    <header class="top-navbar">

        <div class="logo">
            MyShop
        </div>

        <!-- SEARCH -->
        <div class="search-bar">
            <input placeholder="Search products..." @bind="searchText" />
            <button @onclick="SearchProduct">🔍</button>
        </div>

        <!-- RIGHT MENU -->
        @* // ✅ AFTER *@
        <div class="nav-icons">
            <NavLink href="/wishlist" class="nav-wish-icon">
                ❤️
            </NavLink>
            <NavLink href="/cart">
                <i class="fa-solid fa-cart-shopping"></i> Cart
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <NavLink href="/my-account">
                        <i class="fa-solid fa-circle-user"></i> Account
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </header>


    <!-- CATEGORY BAR -->
    <div class="category-bar">

        @foreach (var category in categories)
        {
            <div class="category-item"
                 @onclick="() => OpenCategory(category.Id)">
                @category.Name
            </div>
        }

    </div>


    <!-- PAGE CONTENT -->
    <div class="">
        @Body
    </div>
    <Footer />
</div>

@code {
    // int wishlistCount = 0;
    List<CategoryDto> categories = new();

    string searchText = "";

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<CategoryDto>>
        ("api/catalog/categories/GetAll");
    }

    void SearchProduct()
    {
        Nav.NavigateTo($"/products?search={searchText}");
    }

    void OpenCategory(string id)
    {
        Navigation.NavigateTo($"/products/{id}");
    }

    async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "role");

        if (AuthStateProvider is CustomAuthStateProvider provider)
        {
            provider.MarkUserAsLoggedOut();
        }

        Navigation.NavigateTo("/", true);
    }

}